body{
  background-color: hsl(257, 40%, 49%);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.desktop-bg{
width: 100%;
}
.mobile-bg{
  display: none;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
}
p{
  line-height: 1.5;
  font-size: 1.2rem;
  padding-right: 2rem;
}
.logo{
  width: 15%;
  position: absolute;
  top: 50px;
  left: 120px;
}
.illustration{
  position: absolute;
  top: 200px;
  left: 120px;
  width: 50%;
  padding-right: 20px;
}
.info{
  width: 40%;
  position: absolute;
  top: 200px;
  left: 850px;
  text-align: left;
  padding: 0 80px 0 30px;
  color: #fff;
}
.register-button{
  text-align: center;
  padding: 16px 80px;
  border-radius: 32px;
  border: 0;
  color: hsl(257, 40%, 49%);
  margin: 32px 0;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,.8);
}
.register-button:hover{
  background-color: purple;;
  color: white;
}
.footer{
  width: 20%;
  position: absolute;
  left: 1300px;
  top: 800px;
}
.fa-brands{
  color: #fff;
  font-size: 32px;
  padding: 0px 16px;
}
.fa-brands:hover{
  color: purple;
}
